<div class="devise-form-container">
  <div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">          
            <h2>Регистрация</h2>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
                <%= f.label "Имя", class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.text_field :name, class: "form-control",autofocus: true %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label "E-mail", class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.email_field :email, class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label "Пароль", class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.label "Подтверждеие пароля", class: "col-sm-2 control-label" %>
                <div class="col-sm-6">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
            </div>
            <div class="admin-registration-form">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <%= f.submit "Зарегестрироваться", class: "btn btn-primary" %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
