<center>
	<h1>Настройки магазина</h1>
	<div class="settings-form">
		<%= render "shared/errors", resource: @shop %>

		<%= form_for @shop do |f| %>
			<%= f.label "Название магазина" %><br>
			<%= f.text_field :title %><br>
			<%= f.label "Описание магазина" %><br>
			<%= f.text_field :description %><br>
			<%= f.label "Точка доступа" %><br>
			<%= f.text_field :slug %>
			<br/>
			<br/>
			<%= f.submit "Сохранить" %>
		<% end %>
	</div>
</center>