<h1><%= @shop.title %>
<br/>
<h2>Наши товары</h2>
<br/>

<%  @shop.products.each do |product| %>
	<% if product.instock? %>
		<hr>
		<h4><%= product.title %></h5>
		<h5><%= product.description %></h5>
		<br/>
		<h5><%= product.price - product.discount %></h5>
		<h5><a href='#' class="purchase" id="<%= product.id %>">В корзину</a><h5>
		<hr>
	<% end %>
<% end %>
<a href="/shops">Назад к списку магазинов</a>
<br/>
<a href="/carts">Перейти в корзину</a>

<script type="text/javascript">
	$(document).ready(function() {
	  $('a.purchase').click(function(event) {
	  	event.preventDefault();
	  	var product_id = $(this).attr("id")
	  	$.ajax({
	  		url: "/carts",
	  		method: "POST",
	  		context: document.body,
	  		data: "data[product_id]=" + product_id
			}).done(function() {
	  		$(this).addClass( "in_the_cart");
			});
	  });
	});	
</script>