<center>
<div class="payment-form">
	<%= render "shared/errors", resource: purchase %>
	<%= form_for purchase do |f| %>
		<%= f.label 'E-mail' %>
		<%= f.text_field :email %>
		<%= f.label 'Номер вашей карты' %>
		<%= f.text_field :card_truncated %>
		<%= f.hidden_field :cart_id %>
		<br/>
		<%= f.submit "Оплатить" %>
	<% end %>
</div>
</center>