<center>
	<div class="product-form">
			<%= render "shared/errors", resource: product %>

			<%= form_for product do |f| %>
			<%= f.label "Название" %>
			<%= f.text_field :title %>
			<%= f.label "Описание" %>
			<%= f.text_field :description %>
			<%= f.label "Цена" %>
			<%= f.number_field :price %>
			<%= f.label "Скидка" %>
			<%= f.number_field :discount %>
			<%= f.label "Тип скидки" %>
			<%= f.select :discount_type, options_for_select([:percent, :absolute]), include_blank: true  %>
			<br/>
			<%= f.label "Текст после продажи" %>
			<%= f.text_field :text_after_purchase %>
			<%= f.label "Продукт" %>
			<%= f.file_field  :shop_item %>
			<%= f.label "В наличии" %>
			<%= f.check_box :instock %>
			<%= f.submit "Опубликовать"  %>
			<% end %>
	</div>
</center>