<div class="container">	
	<h1> Продукты </h1>
	<br/>
	<table border="1px">
		<th>
			Название
		</th>
		<th>
			Описание
		</th>
		<th>
			Цена
		</th>
		<th>
			Скидка
		</th>
		<th>
			В наличии
		</th>
		<th>
			Текст после продажи
		</th>
		<th>
			Редактировать
		</th>
		<th>
			Удалить
		</th>
	<% current_admin.shop.products.each do |product| %>
		<tr>		
			<td><%= product.title %></td>
		<td><%= product.description %></td>
		<td><%= product.price %></td>
		<td><%= product.discount %></td>
		<td><%= product.instock %></td>
		<td><%= product.text_after_purchase %></td>
		<td><%= link_to "Редактировать", edit_product_path(product) %></td>
		<td><%= link_to "Удалить", product_path(product), method: :delete,  :confirm => "Are you sure" %></td>
		</tr>
	<% end %>		
	</table>
	<hr>
	<br>
	<%= link_to "Добавить продукт", new_product_path %><br/>
	<%= link_to "Назад", '/admin' %>
</div>
